<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h2>Weather Details</h2>

<% row.forEach( place => { %>
  <section>
    <h2> <%= place.name %> </h2>
    <p> <%= place.temp %> DEGREES</p>
    <p> <%= place.description %> </p>
    <p> <%= place.sunrise %> AM</p>
    <p> <%= place.sunset %> PM </p>
    <p> <%= place.windspeed %> MPH</p>

    <form action="/delete/<%=place.id%>?_method=DELETE" method="post" id="deleteForm">
      <button type="submit">Delete</button>
    </form>

  </section>
<% }) %>
</body>
</html>