<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('layout/head') %>
  <title>Saturday Night Lights - City Details</title>
</head>

<body>
  <img id="backimgm" src="..\styles\img\colorful-neon-city-4k-tx.jpg"></img>
  <header>
    <%- include('layout/header') %>
  </header>
  <main>



    <h2 class="glow2">City Details</h2>

    <section id="homes">
      <h2 id="texti"> <%= info.name %> </h2>
      <p>Temperature: <%= info.temp %> DEGREES</p>
      <p>Description <%= info.description %> </p>
      <p>Sunrise <%= info.sunrise %> AM</p>
      <p>Sunset <%= info.sunset %> PM </p>
      <p>Wind Speed <%= info.windspeed %> MPH</p>

      <form action="/add" method="POST">
        <input type="hidden" name="name" value="<%= info.name %>">
        <input type="hidden" name="temp" value="<%= info.temp %>">
        <input type="hidden" name="description" value="<%= info.description %>">
        <input type="hidden" name="sunrise" value="<%= info.sunrise %>">
        <input type="hidden" name="sunset" value="<%= info.sunset %>">
        <input type="hidden" name="windspeed" value="<%= info.windspeed %>">
        <input type="hidden" name="lat" value="<%= info.lat %>">
        <input type="hidden" name="lon" value="<%= info.lon %>">
        <button type="submit">Add to Favorites</button>
      </form>

      <form action="/places" method="POST">
        <input type="hidden" name="name" value="<%= info.name %>">
        <input type="hidden" name="lat" value="<%= info.lat %>">
        <input type="hidden" name="lon" value="<%= info.lon %>">
        <button>Places to Visit</button>
      </form>

      <form action="/zomato" method="POST">
        <input type="hidden" name="name" value="<%= info.name %>">
        <input type="hidden" name="lat" value="<%= info.lat %>">
        <input type="hidden" name="lon" value="<%= info.lon %>">
        <button>Restaurants to Try</button>
      </form>

    </section>


  </main>
  <footer>

  </footer>
</body>

</html>