<!DOCTYPE html>
<html lang="en">

<head>
  <title>Book Collection</title>
</head>

<body>
  <main>

    <h2>Weather Details</h2>

    <section>
      <h2> <%= info.name %> </h2>
      <p> <%= info.temp %> DEGREES</p>
      <p> <%= info.description %> </p>
      <p> <%= info.sunrise %> AM</p>
      <p> <%= info.sunset %> PM </p>
      <p> <%= info.windspeed %> MPH</p>

      <form action="/add" method="POST">
        <input type="hidden" name="name" value="<%= info.name %>">
        <input type="hidden" name="temp" value="<%= info.temp %>">
        <input type="hidden" name="description" value="<%= info.description %>">
        <input type="hidden" name="sunrise" value="<%= info.sunrise %>">
        <input type="hidden" name="sunset" value="<%= info.sunset %>">
        <input type="hidden" name="windspeed" value="<%= info.windspeed %>">
        <button type="submit">Add to Favorites</button>
      </form>

    </section>

    <% place.forEach(thing => { %>
    <section>
      <h2> <%= thing.title %> </h2>
      <p> <%= thing.vacinity %> </p>
      <p> <%= thing.catagory %> </p>


      <form action="/add" method="POST">
        <input type="hidden" name="name" value="<%= thing.title %>">
        <input type="hidden" name="temp" value="<%= thing.vacinity %>">
        <input type="hidden" name="description" value="<%= thing.catagory  %>">

        <button type="submit">Add to Favorites</button>
      </form>

    </section>
    <% }) %>


  </main>
  <footer>

  </footer>
</body>

</html>