<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('layout/head') %>
  <title>Saturday Night Lights - Place To visit</title>
</head>
<body>
  <header>
    <%- include('layout/header') %>
  </header>
  <img id="backimgm" src="..\styles\img\Ho_Chi_Minh_City_Skyline_(night).jpeg"></img>

  <main>
    <% place.forEach(thing => { %>
      <section>
        <h2 class="glow"> <%= thing.title %> </h2>
        <p> <%= thing.vicinity %> </p>
        <p> <%= thing.category %> </p>
  
      </section>
    <% }) %>
    <form class="back" action="/weather">
      <button name="search" value="<%= search %>">Home</button>
    </form>
  </main>
</body>
</html>