<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('layout/head') %>
  <title>Saturday Night Lights - Local Food</title>
</head>

<body>
  <img id="backimgm" src="..\styles\img\image.png"></img>
  <header>
    <%- include('layout/header') %>
  </header>
  <main>
    <h2>Local Restaurants</h2>
    <% zomato.forEach(thing => { %>
    <section>
      <img class="zomatoImg" src="<%= thing.image %>" alt="">
      <h2 class="glow">
        <a href="<%= thing.url %>"><%= thing.name %>
        </a>
      </h2>
      <p> <%= thing.address %> </p>

      
      
    </section>
    <% }) %>
    <form class="back" action="/favorites">
      <button name="search" value="<%= search %>">Back</button>
    </form>
  </main>
</body>

</html>