<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>
    <%- include('layout/header') %>
  </header>
  <main>
    <% zomato.forEach(thing => { %>
      <section>
        <h2> <%= thing.name %> </h2>
        <p> <%= thing.description %> </p>
        <p> <%= thing.url %> </p>
  
  
        <form action="/add" method="POST">
          <input type="hidden" name="name" value="<%= thing.title %>">
          <input type="hidden" name="temp" value="<%= thing.vacinity %>">
          <input type="hidden" name="description" value="<%= thing.catagory  %>">
  
          <button type="submit">Add to Favorites</button>
        </form>

  
      </section>
      <% }) %>
  </main>
</body>
</html>